#menu li {
    border: none !important;
}

.bf-menu-item {
    border: solid #7F9BAF 1px;
    cursor: pointer;
    width: 279px;
    padding-left: 6px;
    font-size: 18px;
}

.bf-menu-item:hover{
    color: white;
    background-color: #7F9BAF;
}

.bf-menu-item > span {
    font-size: 10px;
}

.bf-menu-item-2 {
    display: block !important;
    font-size: 16px !important;
    margin-left: 12px !important;
    width: 258px !important;
}

.bf-menu-item-3 {
    display: block !important;
    font-size: 14px !important;
    margin-left: 20px !important;
    width: 250px !important;
}

.bf-menu-item-4 {
    display: block !important;
    font-size: 14px !important;
    margin-left: 28px !important;
    width: 242px !important;
}

.bf-menu-item-5 {
    display: block !important;
    font-size: 14px !important;
    margin-left: 36px !important;
    width: 234px !important;
}

.bf-menu-item-6 {
    display: block !important;
    font-size: 14px !important;
    margin-left: 44px !important;
    width: 226px !important;
}

.bf-active-menu {
    background-color: #7F9BAF;
    color: white !important;
}

#wrapper {
    width: auto !important;
    min-width: 1000px;
    max-width: none !important;
}

th.ui-state-active span {
    color: white !important;
}

p.info-text {
    padding: 10px;
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.data-table-right {
    text-align: right !important;
}

.data-table-left {
    text-align: left !important;
}

#to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: white;
    background-image: url("http://icons.iconarchive.com/icons/aha-soft/free-3d-glossy-interface/48/up-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    border: solid 1px black;
    cursor: pointer;
    border-radius: 5px;
    display: none;
}

h1 {
    font-size: 1.3em;
}

.fixedHeaderTable table:nth-child(1) {
    width: 100% !important;
}

td.pinned span {
    font-size: 0.8em !important;
    display: block !important;
}

.ui-datatable .ui-column-filter {
    display: block;
    width: 100%!important;
    margin: auto;
}

.ui-datatable .ui-sortable-column-icon {
    display: inline-block;
    margin: 0 0 -0 0!important;
}
.ui-selectonemenu .ui-selectonemenu-trigger {
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
    width: 30px!important;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 3px;
}
