*.iml
**/target
**/.idea
**/__history
InEK-Datenportal*.pdf
*.htm
/DataPortal/nbproject/
DataPortal/nb-configuration.xml
/TestPortal/nbproject/
/PsyPortal/nbproject/
**/PsyPortal
/DataPortalCommon/nbproject/
DataPortalAdmin/nb-configuration.xml
password.txt
DataPortalDrg/nbproject/project.properties
DataPortalCalc/nb-configuration.xml
*.jdbc
DataPortalCommon/derby.log
/DataPortalDrg/nbproject/
DataPortalCalc/faces-config.NavData
*.NavData
/DataPortalPsy/nbproject/
/DataPortalCert/nbproject/
/DataPortalAPI/nbproject/
/DataPortalCare/nbproject/
DataPortalInek/nb-configuration.xml
DataPortalCare/src/site/~$alitaetssicherungCare.docx
installAllToTest.cmd
deployAppToTest.cmd
deployAppToProduction.cmd
deployAllToTest.cmd
deployAllToProduction.cmd
deployAllTo.cmd
DocumentScanner/nb-configuration.xml
/DataPortalInsurance/nbproject/