*.iml
**/target
**/.idea
**/__history
InEK-Datenportal*.pdf
*.htm
/DataPortal/nbproject/
DataPortal/nb-configuration.xml
/TestPortal/nbproject/
/PsyPortal/nbproject/
**/PsyPortal
/DataPortalCommon/nbproject/
DataPortalAdmin/nb-configuration.xml
password.txt
DataPortalDrg/nbproject/project.properties
DataPortalCalc/nb-configuration.xml
*.jdbc
DataPortalCommon/derby.log
/DataPortalDrg/nbproject/
DataPortalCalc/faces-config.NavData
*.NavData
/DataPortalPsy/nbproject/
/DataPortalCert/nbproject/
/DataPortalAPI/nbproject/
/DataPortalCare/nbproject/
DataPortalInek/nb-configuration.xml
DataPortalCare/src/site/~$alitaetssicherungCare.docx
installAllToTest.cmd
deployAppToTest.cmd
deployAppToProduction.cmd
deployAllToTest.cmd
deployAllToProduction.cmd
deployAllTo.cmd
DocumentScanner/nb-configuration.xml
/DataPortalInsurance/nbproject/
TestJPA/src/testjpa/entities/Person.java
TestJPA/src/testjpa/TestJPA.java
TestJPA/src/META-INF/persistence.xml
TestJPA/nbproject/project.xml
TestJPA/nbproject/project.properties
TestJPA/nbproject/private/private.xml
TestJPA/nbproject/private/private.properties
TestJPA/nbproject/genfiles.properties
TestJPA/manifest.mf
TestJPA/dist/lib/org.eclipse.persistence.jpa.jpql-2.5.2.jar
TestJPA/dist/lib/org.eclipse.persistence.jpa-2.5.2.jar
TestJPA/dist/lib/org.eclipse.persistence.core-2.5.2.jar
TestJPA/dist/lib/org.eclipse.persistence.asm-2.5.2.jar
TestJPA/dist/lib/org.eclipse.persistence.antlr-2.5.2.jar
TestJPA/dist/lib/javax.persistence-2.1.0.jar
TestJPA/dist/TestJPA.jar
TestJPA/dist/README.TXT
TestJPA/build/generated-sources/ap-source-output/testjpa/entities/Person_.java
TestJPA/build/classes/testjpa/entities/Person_.class
TestJPA/build/classes/testjpa/entities/Person.class
TestJPA/build/classes/testjpa/TestJPA.class
TestJPA/build/classes/resouces.res
TestJPA/build/classes/META-INF/persistence.xml
TestJPA/build/classes/.netbeans_update_resources
TestJPA/build/classes/.netbeans_automatic_build
TestJPA/build/built-jar.properties
TestJPA/build.xml
DataPortalCommon/replay_pid15120.log
DataPortalCommon/hs_err_pid15120.log
TestJPA/nbproject/build-impl.xml
deployAppTo.cmd
*/Thumbs.db
Thumbs.db
