/* Text Styles */
hr { color: #000000}
body, table, tr, th /* Normal */
{
 font-size: 11pt;
 font-family: Arial;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.f_BulletText /* Bullet Text */
{
}
span.f_Button /* Button */
{
 background-color: #8ea7b9;
}
span.f_CodeExample /* Code Example */
{
 font-size: 10pt;
 font-family: 'Courier New';
}
span.f_Comment /* Comment */
{
}
span.f_Heading1 /* Heading1 */
{
 font-size: 16pt;
 font-weight: bold;
 color: #ffffff;
}
span.f_Heading2 /* Heading2 */
{
 font-size: 14pt;
 color: #000080;
}
span.f_Heading3 /* Heading3 */
{
 font-weight: bold;
 color: #000080;
}
span.f_Hinweis /* Hinweis */
{
}
span.f_ImageCaption /* Image Caption */
{
 font-size: 9pt;
 font-style: italic;
}
span.f_Indend /* Indend */
{
}
span.f_Indend2 /* Indend2 */
{
}
span.f_Notes /* Notes */
{
}
span.f_SeeAlso /* SeeAlso */
{
 font-size: 10pt;
}
span.f_SeeAlsoHeadline /* SeeAlsoHeadline */
{
 font-size: 10pt;
}
span.f_SeeAlsoIndent /* SeeAlsoIndent */
{
 font-size: 10pt;
}
span.f_Space /* Space */
{
}
span.f_Todo /* Todo */
{
}
span.f_Warning /* Warning */
{
}
/* Paragraph styles */
p /* Normal */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 5px 0px 5px;
}
.p_BulletText /* Bullet Text */
{
 text-indent: -24px;
 margin: 4px 5px 4px 29px;
}
.p_Button /* Button */
{
}
.p_CodeExample /* Code Example */
{
 white-space: nowrap;
}
.p_Comment /* Comment */
{
 text-align: center;
}
.p_Heading1 /* Heading1 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 5px 0px 5px;
}
.p_Heading2 /* Heading2 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-top: none;
 border-right: none;
 border-left: none;
 padding: 1px 1px 1px 1px;
 margin: 14px 4px 9px 4px;
}
.p_Heading3 /* Heading3 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 12px 5px 0px 5px;
}
.p_Hinweis /* Hinweis */
{
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 background: #ccffcc;
 padding: 3px 3px 3px 3px;
 margin: 17px 4px 12px 4px;
}
.p_ImageCaption /* Image Caption */
{
 text-align: center;
}
.p_Indend /* Indend */
{
 margin: 0px 5px 0px 29px;
}
.p_Indend2 /* Indend2 */
{
 text-indent: -85px;
 margin: 4px 5px 0px 114px;
}
.p_Notes /* Notes */
{
}
.p_SeeAlso /* SeeAlso */
{
 background: #ccffff;
}
.p_SeeAlsoHeadline /* SeeAlsoHeadline */
{
 border-color: #000000;
 border-style: solid;
 border-width: 1px;
 border-top: none;
 border-right: none;
 border-left: none;
 background: #ccffff;
 margin: 18px 5px 0px 5px;
}
.p_SeeAlsoIndent /* SeeAlsoIndent */
{
 text-indent: 48px;
 background: #ccffff;
}
.p_Space /* Space */
{
 margin: 4px 5px 4px 5px;
}
.p_Todo /* Todo */
{
 border-color: #000000;
 border-style: double;
 border-width: 2px;
 border-top: none;
 border-bottom: none;
 background: #ffff00;
 padding: 5px 5px 5px 5px;
 margin: 0px 0px 0px 0px;
}
.p_Warning /* Warning */
{
 border-color: #000000;
 border-style: double;
 border-width: 2px;
 background: #ff99cc;
 padding: 5px 5px 5px 5px;
 margin: 15px 7px 10px 7px;
}


#hmpopupdiv /* used for javascript text popups */
{
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: #FFFFFF;
  padding: 6px;
  border:1px solid #000000;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
}

#hmlightbox /* image lightbox */
{
  border: none;
  padding: 8px;
  background: #FFF;
  font-size: 110%;
  font-weight: bold;
  color: #777;
  box-shadow: 5px 5px 5px #888;
}
