/*Overwrites for Primefaces*/
.ui-datatable .ui-column-filter {
    width: 90% !important
}
.ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-active a, .ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-active a {
    color: #000000 !important
}

.ui-inputfield.ui-state-focus {
    background-color: #C6D2DB !important
}

.formLabel {
    font-weight: bold !important
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    cursor: default !important
}

.ui-tooltip .ui-tooltip-text {
    background-color: #7f9baf !important
}

.ui-inputfield.required {
    background-color: lightyellow !important
}

.ui-inputfield {
    padding: 2px !important;
}

.addEntry {
    background-image: none !important;
    background-color:  #e2f5d5 !important;
    margin-top: 5px;
    cursor: pointer;
}

.btnDownload span {
    background-image: none !important;
    background-color: #7f9baf !important;
    color: #ffffff !important;
    min-width: 100px;
    text-shadow: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

.btnDownload span:hover {
    background-color: #a8cce6 !important;
}

.btnDownload :before {
    content: '\f063';
    font-family: 'FontAwesome';
    padding-right: 10px;
}

.btnSend span {
    background-image: none !important;
    background-color: #4aa628 !important;
    color: #ffffff !important;
    min-width: 150px;
    text-shadow: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

.btnSend span:hover {
    background-color: #5eca37 !important;
}

.btnSend :after {
    content: '\f061';
    font-family: 'FontAwesome';
    padding-left: 10px;
}

.btnPsy span {
    background-image: none !important;
    background-color: #437a1e !important;
    color: #ffffff !important;
    min-width: 150px;
    text-shadow: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

.btnPsy span:hover {
    background-color: #60ab2e !important;
}

.inekTablePsy th{
    background-image: none !important;
    background-color: #e2f5d5 !important
}

.inekTablePsy tr:nth-child(even) td {
    background-color: #dddddd;
    color: #000;
}

.inekTablePsy tfoot td{
    background-image: none !important;
    background-color: #e2f5d5 !important
}

.inekUploader span {
    background-color: #a8cce6
}

/* Tabs Overrides */
.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header li {
    background-color: silver;
    border-color: #eeeeee darkgrey darkgrey #eeeeee;

}

.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header li.ui-state-active {
    background-color: #7f9baf;
    border-color: #c6d2db #56748a #7f9baf #c6d2db;
}

.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header {
    border-bottom: 3px solid #7f9baf;
}

.ui-tabs .ui-tabs-nav.ui-widget-header li a {
    color: black;
    text-shadow: none;
    text-decoration: none;
    font-weight: bold;
}

.ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-active a, .ui-tabs .ui-tabs-nav.ui-widget-header a {
    color: white;
    text-shadow: none;
    text-decoration: none;
    font-weight: bold;
}

.ui-tabs-panels {
    background-color: #eeeeee;
}

/* HeaderInformation */

.headerInformation {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 3px solid #7f9baf;
    background-color: #eeeeee;
}