li.menu-2 {
    margin-left: 14px !important;
    width: 256px !important;
}
li.menu-3 {
    margin-left: 28px !important;
    width: 242px !important;
}

li.menu-4 {
    margin-left: 42px !important;
    width: 228px !important;
}